.calculatorContainer {
  width: 300px;
}

.numbers-container {
  display: grid;
  grid-template: 33% 33% / 33% auto 33%;

}

.output-container input {
  width: 100%;
  height: 30px;
  font-size: 34px;
}

.arithmetic-container {
  display: grid;
  grid-auto-flow: row;
  grid-column-start: 5;
}